{% load static %}

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="/">
      <img src="{% static 'sportevent/images/run.png' %}" class="logo-image img-fluid" alt="logo">
    </a>
    <h2 class="text-light">CrossRunChe<i class="fa-2xs fa-solid fa-tree-city"></i></h2>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Головна</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'sportevent:results' %}">Результати</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Команда клубу</a>
        </li>
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle btn custom-btn custom-border-btn smoothscroll" href="#" id="navbarLightDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profiles:athlete_distances_register' %}">Мої змагання</a></li>
              <li><a class="dropdown-item" href="{% url 'profiles:profile_view' %}">Профіль</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Вихід</a></li>
            </ul>
          {% else %}
            <a class="nav-link dropdown-toggle btn btn-outline-link" href="#" id="navbarLightDropdownMenuLink"
               role="button"
               data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-person-running
               fa-xl"></i></a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Вхід</a></li>
              <li><a class="dropdown-item active" href="{% url 'account_signup' %}">Реєстрація</a></li>
            </ul>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>