{% extends "sportevent/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Reset done{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <h2>{% trans "Password Reset" %}</h2>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>{% blocktrans %}Ми надіслали вам електронний лист. Якщо ви не отримали його, перевірте папку зі спамом. В іншому
    випадку зв’яжіться з нами, якщо ви не отримаєте його протягом кількох хвилин.{% endblocktrans %}</p>
{% endblock %}
