{% extends "sportevent/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>
<p>{% blocktrans %}Ми надіслали вам електронний лист для перевірки. Перейдіть за наданим посиланням, щоб завершити процес реєстрації. Якщо ви не бачите електронного листа для підтвердження у своїй основній папці "Вхідні", перевірте папку зі спамом. Зв’яжіться з нами, якщо ви не отримаєте електронний лист із підтвердженням протягом кількох хвилин.{% endblocktrans %}</p>

{% endblock %}
