{% extends "sportevent/base.html" %}
{% load django_bootstrap5 %}
{% load main_tags %}

{% block title %}
  Distance
{% endblock %}

{% block content %}
  <h2>
    {{ distance.event }}
    <i class="fa-solid fa-worm text-info"></i>
    {{ distance.distance_in_unit }} km
  </h2>

  <div class="row">
    <div class="col-lg-6 col-sm-4">
      <form method="post" action="">
        {% bootstrap_form_errors form %}
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Зареєструватися" button_type="submit" button_class="btn-danger" %}
      </form>
    </div>
  </div>

{% endblock %}