{% extends "sportevent/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  My registred races
{% endblock %}

{% block content %}
  <section class="latest-podcast-section section-padding" id="section_2">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-12 col-12">
          <div class="section-title-wrap mb-5">
            <h4 class="section-title">
              Зареєстровано участь в заходах</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-sm-4">
            <div class="table-responsive">
              {% if athlete_distances_list %}
              <table class="table caption-top">
                <caption></caption>
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Дата</th>
                  <th scope="col">Назва заходу</th>
                  <th scope="col">Назва дистанції</th>
                  <th scope="col">Дистанція (км)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in athlete_distances_list %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.distance.event.date_event }}</td>
                    <td>
                      <a href="{% url 'sportevent:event-detail' item.distance.event.id %}">
                        {{ item.distance.event.title }}</a>
                    </td>
                    <td>{{ item.distance.title }}</td>
                    <td><span class="fs-6 badge bg-info">{{ item.distance.distance_in_unit }}</span></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <span class="text-muted">Немає жодної реєєстрації на заходи</span>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}